*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: black;
}

.clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body
{
    width: 80%;
    margin: 0 auto;
}


.hide
{
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0s;
    opacity: 0;
}

.show
{
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0s;
    opacity: 1;
}

.container,
.container_2 {
    position: relative;
    margin: 10px auto;
    width: 60%;
}

.main-nav,
.main-nav
{
    list-style: none;
}

.main-nav li
{
    float: left;
    text-align: center;
    min-width: 100px;
}

.main-nav a,
.main-nav span
{
    padding: 25px 4px;
    display: block;
}

.main-nav li:hover,
.additional-nav li:hover
{
    cursor: pointer;
}

.additional-nav
{
    position: absolute;
    right: -140px;
    top: 70px;
    list-style: none;
}

.additional-nav span,
.additional-nav a
{
    display: block;
    padding: 15px 4px;
    text-align: center;
}

.additional-nav-btn
{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: -60px;
    top: 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

